.history-deliver-page {
  background-color: #efefef;

  .deliver-table {
    padding: 20px 20px;
    margin: 20px 20px;
    background-color: #fff;
    border-radius: 15px;
  }

  .deliver-action {
    padding: 20px 20px;
    margin: 20px 20px;
    background-color: #fff;
    border-radius: 15px;
  }
}
